@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Rajdhani', sans-serif;
}

.homepage-top-image{
  background-image: url(../public/assets/images/war.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.homepage-promotion-video{
  background-image: url(../public/assets/images/promotion-video-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.homepage-logos-wrapper{
  animation: scroll 17s linear infinite;
  width: calc(200px * 8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list-item{
  position: relative;
}

.footer-list-item::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  top: 12px;
  background: #d1d5db;
}

.corporate-top-image{
  background-image: url(../public/assets/images/top-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.capabilities-top-image{
  background-image: url(../public/assets/images/top-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 4));
  }
}